<h1>Headlines</h1>


    {{#each articleHeadlines}}
        <div class="card p-3">
            
            <div class="card-header">
                <p>{{this.title}}</p>
            </div>

            <div class="card-body">
                <!-- TODO - Isolate the card title -->
            </div>

            <div class="card-footer">
                <a href="{{this.link}}">Link</a>
            </div>

        </div>
        <div class="container">
            <!--Empty div for spacing -->
        </div>

        <br/>
    {{/each}}
